<!DOCTYPE html>
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <title>Réservations</title>
</head>
<body>
    <h1>Liste des Réservations</h1>
    <ul>
        <% reservations.forEach(reservation => { %>
            <li>
                <a href="/reservations/<%= reservation._id %>">
                    Réservation Catway Numéro: <%= reservation.catwayNumber %> |
                    Client: <%= reservation.clientName %> |
                    Bateau: <%= reservation.boatName %> |
                    Arrivée: <%= reservation.checkIn.toLocaleString() %> |
                    Départ: <%= reservation.checkOut.toLocaleString() %>
                </a>
                <form action="/reservations/<%= reservation._id %>?_method=DELETE" method="POST" style="display:inline;">
                    <button type="submit">Supprimer</button>
                </form>
            </li>
        <% }); %>
    </ul>
</body>
</html>
